<%- include('partials/header') %>


<main>
    <br>
    <br>
    <h2 class="smarth2" style="font-family: 'Quicksand', sans-serif; text-align: center; margin-top: 10%; margin-bottom: 5%; font-size: 2rem; color: #FD7103;">Voyage de rêve tout compris et dernières minutes avec Evasion</h2>
    <br>

      <h4 style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-bottom: 3%; font-size: 2rem; color: #8DC11E;">Quand réserver un séjour de dernière minute ?</h4>
      <p style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-right: 5%; font-size: 1.2rem; text-align: justify;">
      Votre patron vous offre une semaine de vacances surprise, votre femme vous rappelle un peu tard qu’il faut célébrer 
      votre anniversaire de mariage ou vous avez simplement envie de quitter sur le champ la routine et la grisaille du quotidien, 
      nombreuses sont les raisons de se retrouver au pied du mur pour réserver un voyage pas cher en dernière minute. Grâce à notre 
      rubrique « Coups de coeur », vous pourrez réserver même la veille de votre départ un séjour pas cher vers 
      l’une de nos destinations de rêve. Vous aurez le choix entre des offres d’escapades week-end, une ou plusieurs nuits d’hôtel, 
      un séjour au camping, une location, une croisière et surtout un voyage tout compris à l’étranger. Profitez-en pour vous offrir un séjour de rêve à prix réduit.
    </p>
    <br>
      <h4 style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-bottom: 3%; font-size: 2rem; color: #8DC11E;">Où partir ? Quelle destination choisir ?</h4>
      <p style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-right: 5%; font-size: 1.2rem; text-align: justify;">
      Pour répondre à cette question, il vous faudra faire le point sur vos envies, vos goûts et votre budget. 
      Si c’est un voyage pas cher tout compris au soleil que vous recherchez, l’Espagne vous tend les bras. 
      Vous serez surpris par la variété des paysages des îles des Canaries, sept îles qui offrent autant de possibilités 
      de voyages différents. Des plages sans fin de Gran Canaria à la jungle épaisse de la Gomera, vous aurez tout le loisir 
      de lézarder au soleil ou de vous aventurer dans des territoires encore vierges. D’autres destinations en Europe retiendront 
      votre attention, comme Malte et son histoire séculaire, les îles grecques aux couleurs très reconnaissables, mais aussi Rhodes, 
      Corfou ou Madère. Si vos moyens vous le permettent, le monde est vaste, tout comme notre proposition de séjours. 
      Si les formules tout compris de la République Dominicaine justifient à elles seules le voyage, avec leurs cocktails exotiques
      à volonté et leurs langoustes au menu, d’autres destinations lointaines leur font concurrence. Le Kenya, par exemple, 
      vous fera découvrir une Afrique plurimillénaire et vous donnera l’occasion d’observer de près les derniers grands animaux sauvages
        de la planète. La Thaïlande quant à elle vous ouvre les portes de ses somptueux temples et palais, tout en vous permettant de 
        profiter de plages parmi les plus belles du monde.
      </p>
    <br>
      <h4 style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-bottom: 3%; font-size: 2rem; color: #8DC11E;">Pourquoi choisir un voyage tout compris ?</h4>
      <p style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-right: 5%; font-size: 1.2rem; text-align: justify;">
      Le voyage tout compris est la formule idéale pour partir en toute sérénité. En effet, en optant pour cette formule, 
      vous réglez à l’avance le prix de votre séjour, incluant le transport, l’hébergement, les repas et souvent même les activités 
      de loisirs. Vous n’aurez donc pas à vous soucier des dépenses imprévues une fois sur place, ce qui vous permettra de profiter pleinement 
      de vos vacances. De plus, les voyages tout compris sont souvent proposés à des tarifs avantageux, car les voyagistes négocient des tarifs de groupe 
      avec les hôtels et les compagnies aériennes. Cela signifie que vous pouvez bénéficier d’un excellent rapport qualité-prix pour votre séjour.
      </p>
    <br>
      <h4 style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-bottom: 3%; font-size: 2rem; color: #8DC11E;">Quand partir en voyage ?</h4>
      <p style="font-family: 'Quicksand', sans-serif; margin-left: 5%; margin-right: 5%; font-size: 1.2rem; text-align: justify;">
      Ne vous inquiétez de rien, il y a forcément une destination qui correspond à vos attentes au moment où vous réservez un
      voyage de dernière minute pas cher. Il vous faudra seulement tenir compte de la saison à laquelle vous voulez partir. 
      Sachez qu’en été, un séjour en Asie sera dépendant de la mousson, la saison des pluies, qui peut parfois être très violente. 
      L’hiver est la saison idéale pour partir dans l’hémisphère sud dans la mesure où les saisons sont inversées, notre hiver est leur été. 
      A l’inverse, les destinations nordiques ne voient, elles, quasiment pas le jour en hiver. L’Islande, la Norvège ou la Laponie sont 
      magiques en toute saison, mais à moins que vous ne pourchassiez les aurores boréales, visibles en hiver, préférez les visiter en été.
        Plus près de l’Europe, de nombreuses destinations vous permettent de trouver le soleil pratiquement toute l’année. Certaines îles grecques, 
        la côte turque, Chypre ou les Canaries jouissent d’un climat agréable toute l’année, et si l’on ne peut vous promettre que vous vous 
        baignerez au 1er de l’an, soyez certain que le soleil accompagnera vos journées. Les meilleures saisons pour partir en voyage, 
        tant au niveau budget qu’au niveau de la tranquillité que vous pourrez espérer, sont le printemps et l’automne. D’une façon générale, 
        choisissez pour partir, le moment où les autres touristes ne se précipitent pas sur une destination en vous renseignant bien. 
        Vous n’aurez aucun mal à subir la fin de mousson au Sri Lanka au mois d’octobre, car les pluies se font rares et essentiellement nocturnes.
        En un mot comme en cent, ne faites pas comme tout le monde, soyez malin en cherchant des destinations auxquelles vous n’auriez pas pensé.
      </p>
    <br>

</main>

<%- include('partials/footer') %>