<%- include('partials/header') %>

<main class="container mt-5 text-center">
  <h1 class="mb-4"><%= title %></h1>
  <p>Voici la page des résultats de recherche</p>
  <p>nous completerons avec Amadeus asap</p>
</main>

<%- include('partials/footer') %>